/* Apply justification to all pages with class "justify-text" */
.justify-text {
    text-align: justify;
}

/* Custom style for publications page */
.wide-justify .archive__item {
    max-width: 100%;
    text-align: justify;
  }
  
.wide-justify .archive {
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}