/* Apply justification to all pages with class "justify-text" */
.justify-text {
    text-align: justify;
    max-width: 100%;
}

/* Custom style for publications page */
.wide-justify .archive__item {
    max-width: 100%;
    text-align: justify;
}

.wide-justify .archive {
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}

/* Right alignment for author bio */
.author__bio {
  text-align: left !important;
}

/* Additional formatting for employer block in sidebar*/
.author__desktop {
  text-indent: 0em;   /* pulls the first line left */
  padding-left: 1.5em;   /* pushes rest of the lines right */
}